version: '3.8'

services:
  backend:
    build: ./backend
    container_name: flogin_backend
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/FloginFE_BE?useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: flogin_frontend
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: flogin_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: FloginFE_BE
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  nginx-proxy:
    image: nginx:alpine
    container_name: flogin_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
